.first{
    width: 100%;
    height: 100vh;
}

.first .navbar{
    width: 80%;
    margin: 0 10% 0 10%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first .navbar h3{
    font-size: 25px;
    font-weight: bold;
}

.first .navbar .nav{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first .navbar .nav a{
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.first .navbar .nav a:hover{
    color: red;
}

.first .navbar .nav .login{
    background: transparent;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}

.first .navbar .nav .login:hover{
    background-color: black;
    color: white;
}

.first .content{
    width: 100%;
    height: 100%;

}

.first .content img{
    width: 100%;
    height: 100%;
}











/*categories*/

.categories{
    width: 100%;
    height: 100vh;
    margin-top: 150px;
}

.categories .heading{
    width: 100%;
    height: 70px;
}

.categories .heading h3{
     font-size: 30px;
     font-weight: bold;
     text-align: center;
}

.categories .content{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.categories .content .box{
    width: 300px;
    height: 500px;
    /*background: transparent;
    border: 2px solid black;*/
    display: grid;
    justify-content: center;
}

.categories .content .box img{
    width: 100%;
    height: 100%;
    position: relative;
}

.categories .content .box button{
    font-size: 18px;
    background: transparent;
    color: black;
    border-radius: 5px;
    margin-top: 10px;
}

.categories .content .boxe{
    margin-top: 50px;
}