.partone{
    display: flex;
     width: 95%;
      height: auto;
      margin: 100px auto 200px auto;
    
}

.partone .partone-one{
    width: 50%; 
    height: auto;
    display: list-item;
    text-align: left;
}
.partone .partone-one .class{
    
    width: 80%;
    margin-left: 20%;
}

.partone .partone-one .class p{
    font-size: 28px;
    font-family: system-ui;
}

.partone .partone-one .class h3{
    font-size: 40px;
    color: rgb(77, 77, 190);
    margin: 0px;
}

.partone .partone-one .class h3 span{
    color: black;
}

.partone .partone-one .class h4{
    font-size: 75px;
    margin: 0px;
    color: rgb(77, 77, 190);
}

.partone .partone-one .class h4 span{
    font-size: 30px;
    color: rgb(0, 0, 0);
    
}
.partone .partone-one .class button{
    width: 250px;
    height: 48px;
    border-radius: 23px;
    background-color: orangered;
    margin-top: 30px;
    color: white;
}

.partone .partone-two{
    width: 50%; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.partone .partone-two img{
    width: 60%;
    height: auto;
    border-radius: 50%;
    
}

@media (max-width: 700px) {
    .partone{
        display: grid;
         width: 100%;
          height: auto;
    }
    .partone .partone-one{
        width: 100%; 
        height: auto;
    }
    .partone .partone-one .class{
        padding-top: 0;
        width: 100%;
        
    }
    .partone .partone-two{
        width: 100%; 
        height: auto;    
    }
}



.parttwo{
    width: 100%;
    height: auto;
}

.parttwo .heading{
    width: 100%;
    height: auto;
    text-align: center;
}

.parttwo .heading h3{
    font-size: 60px;
}

.parttwo .subject{
    width: 90%;
    height: auto;
    margin: auto;
   
    display: flex;
    flex-wrap: wrap;
}

.parttwo .subject .box{
    width: 25%;
    height: auto;
    box-shadow: 3px 4px 9px 0px;
    text-align: center;
    border-radius: 20px;
    display: none;
    margin: 20px 4%;
}
.parttwo .subject .box:nth-child(1),
.parttwo .subject .box:nth-child(2),
.parttwo .subject .box:nth-child(3){
    display: inline-block;
}

.parttwo .subject .box h2{
    padding-top: 10px;
    font-size: 25px;
}

.parttwo .subject .box .progrssline {
    width: 90%;
    height: 14px;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin: 40px auto;
    margin-top: 10px;
    position: relative;
}

.parttwo .subject .box .progrssline span {
    background-color: rgb(77, 77, 190);
    width: 80%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    left: 0;
    
}
 .button{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 50px auto;
}
#load-more {
    
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    padding: 20px;

}


.patrthree{
    width: 100%;
    height: auto;
}

.patrthree .heading{
    width: 100%;
    height: auto;
    margin-top: 200px;
}

.patrthree .heading h3{
    text-align: center;
    font-size: 50px;
}

.patrthree .subjects {
    width: 90%;
    height: auto;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
}
.patrthree .subjects .divone{
   width: 45% ;
   height: auto;
   text-align: center;
   box-shadow: 6px 6px 25px 8px grey;
   margin: 40px auto;
   border-radius: 20px;
   background: transparent;
}

.patrthree .subjects .divone img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 12px;
}
.patrthree .subjects .divone video{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 12px;
}
.patrthree .subjects .divone h3{
    font-size: 37px;
    font-weight: bold;
    padding: 0;
    margin: auto;
    width: 80%;
    word-wrap: break-word;
    
    
}

.patrthree .subjects .divone button{
    width: 50%;
    height: 40px;
    margin: 20px 5% 20px 5%;
    background: transparent;
    border: 2px solid black;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    transition: .3s ease-in-out;
}
.patrthree .subjects .divone button:hover{
    background-color: black;
    color: white;
}


.partfour{
    width: 100%;
    height: auto;
}
.partfour .heading{
    width: 100%;
    height: auto;
    margin-top: 150px;
}

.partfour .heading h3{
    text-align: center;
    font-size: 50px;
    margin-bottom: -30px;
    margin-top: 220px;
}

.partfour .body{
    width: 60%;
    height: 280px;
    margin: 10% 20% 10% 20%;
    text-align: center;
    box-shadow: 2px 5px 8px 0px;
    border-radius: 20px;
}

.partfour .body h3 span{
    font-size: 30px;
    font-weight: bold;
}

.partfour .body h3{
    font-size: 27px;
    
}